.flash-deals {
  width: 100%;
  height: 35rem;
  background: var(--background-color);
  padding: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: var(--primary-box-shadow);
}

.flash-deals .heading {
  height: 3rem;
  margin: .5rem 0;
}

.flash-deals .heading span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--red-color);
}

.flash-deals .heading span i {
  margin-right: .5rem;
}

.flash-card {
  height: 100%;
  position: relative;
}

.flash-card .product {
  background: var(--white-color);
  display: block;
  padding: 1rem;
  margin: 0 1rem 1rem;
  border-radius: .5rem;
  text-decoration: none;
  position: relative;
}

.flash-card .product .discount {
  position: absolute;
  top: 1.5rem;
  right: -1rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5rem;
  background: #FF1E1E;
  color: var(--white-color);
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.flash-card .product .discount::before {
  content: '';
  position: absolute;
  left: -1.38rem;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1.3rem solid transparent;
  border-right: 1.4rem solid #FF1E1E;
  border-bottom: 1.3rem solid transparent;
}

.flash-card .product:hover {
  border: .1rem solid var(--primary-color);
  cursor: pointer;
}

.flash-card .control-btn .prev {
  position: absolute;
  left: -4rem;
  top: 12.5rem;
  z-index: 10;
  box-shadow: var(--primary-box-shadow);
}

.flash-card .control-btn .next {
  position: absolute;
  right: -4rem;
  top: 12.5rem;
  z-index: 10;
  box-shadow: var(--primary-box-shadow);
}

.flash-card .product .img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.flash-card .product .name {
  font-size: 1.4rem;
  color: var(--text-color);
  margin: 1rem 0;
  line-height: 1.6rem;
  height: 3.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.flash-card .product .price {
  text-align: center;
}

.flash-card .product .price .old-price {
  font-size: 1.4rem;
  text-decoration: line-through;
  color: #999;
  margin-right: .5rem;
}

.flash-card .product .price .new-price {
  font-size: 1.6rem;
  color: var(--primary-color);
}


.flash-card .product .btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/* =====Responsive===== */
@media (max-width: 1112px) {
  .flash-deals {
    height: auto;
    padding: 1rem 1.2rem 1.6rem;
  }

  .flash-card .control-btn .prev {
    left: .2rem;
  }

  .flash-card .control-btn .next {
    right: .2rem;
  }
}